<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>demo1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>hellotext</display-name>
    <servlet-name>hellotext</servlet-name>
    <servlet-class>com.example.web.HelloText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hellotext</servlet-name>
    <url-pattern>/hellotext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insert</display-name>
    <servlet-name>insert</servlet-name>
    <servlet-class>com.example.web.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>query</display-name>
    <servlet-name>query</servlet-name>
    <servlet-class>com.example.web.Query</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>query</servlet-name>
    <url-pattern>/query</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertPage</display-name>
    <servlet-name>insertPage</servlet-name>
    <servlet-class>com.example.web.InsertPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertPage</servlet-name>
    <url-pattern>/insertPage</url-pattern>
  </servlet-mapping>
</web-app>